.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}
.comment-section {
  margin-top: 20px;
  height: 200px;
  overflow-y: auto;
}

.comment {
  border-bottom: 1px solid #ddd;
  padding: 8px; /* Reduced padding */
}

.comment:last-child {
  border-bottom: none;
}

.comment .user {
  font-weight: bold;
  margin-bottom: 3px; /* Reduced margin */
}

.comment .timestamp {
  font-size: 0.8em;
  color: #888;
}

.comment textarea {
  width: 100%;
  margin-top: 5px; /* Reduced margin */
  resize: none;
  overflow: hidden;
}

.comment button {
  margin-top: 5px; /* Reduced margin */
}
