img {
  height: 60%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline {
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 80vh;
  width: 30vw;
  overflow-y: auto;
}

.vertical-timeline-element-content p {
  font-size: 10px !important;
}
.vertical-timeline-element-content {
  border: 1px solid #eee;
}
